<div class="container">
  <div class="container-inner inner-default clearfix">
    <% items.each_with_index do |item, rank| %>
      <div class="item-box">
        <% if content_for?(:rank) %>
        <div class="rankheader">
            <p><%= rank+1 %>位</p>
        </div>
        <% end %>
        <div class="image">
          <div class="img-wrap">
            <% if item.large_image.present? %>
              <%= image_tag(item.large_image , alt: item.title) %>
            <% else %>
              <%= image_tag("no-image.png" , alt: item.title) %>
            <% end %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <%= item.title %>
          </p>
        </div>
        <div class="want_have">
          <p>Want: <%= item.want_users.count %> &nbsp;&nbsp; Have: <%= item.have_users.count %></p>
        </div>
        <%= render 'items/action' , item: item if logged_in? %>
      </div>
    <% end %>
  </div>
</div>